main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: calc(100vh - 50px);
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.rounded-image {
  text-align: center;
}

.rounded-image img {
  border-radius: 50%;
}
